<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: nav"></nav>

<br>
<body>
	<div class="container">
		<form th:action="@{/products/save}" method="post"
			th:object="${product}">
			<div class="form-group row">
				<input type="text" placeholder="Product Name"
					th:field="${product.name}"> <input type="hidden"
					th:field="${product.productId}"> <input type="hidden"
					name="_csrf" th:value="${_csrf.token}" />
			</div>
			<div class="form-group row">
				<input type="text" placeholder="Product price"
					th:field="${product.price}">
			</div>
			<div class="form-group row">
				<input type="text" placeholder="Product description"
					th:field="${product.description}">
			</div>
			<div class="form-group row">
				<input type="text" placeholder="Product category"
					th:field="${product.category}">
			</div>
			<div class="form-group row">
				<input type="text" placeholder="Product manufacturer"
					th:field="${product.manufacturer}">
			</div>
			<div class="form-group row">
				<input type="text" placeholder="Product quantity"
					th:field="${product.quantity}">
			</div>
			<div class="form-group row">
				<button class="btn btn-info col-2" type="submit">Add
					Product</button>
			</div>
		</form>
	</div>

</body>
</html>